@model EmployeeRESTApi.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EmployeeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpAge" class="control-label"></label>
                <input asp-for="EmpAge" class="form-control" />
                <span asp-validation-for="EmpAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label"></label>
                <input asp-for="JoiningDate" class="form-control" />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpAddress" class="control-label"></label>
                <input asp-for="EmpAddress" class="form-control" />
                <span asp-validation-for="EmpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpMobileNo" class="control-label"></label>
                <input asp-for="EmpMobileNo" class="form-control" />
                <span asp-validation-for="EmpMobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpDeptNo" class="control-label"></label>
                <input asp-for="EmpDeptNo" class="form-control" />
                <span asp-validation-for="EmpDeptNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
